:root {
  --blue: rgb(0, 132, 255);
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.eot), url(../fonts/Inter-Regular.ttf),
    url(../fonts/Inter-Regular.woff), url(../fonts/Inter-Regular.woff2);
}

body {
  font-family: Inter, sans-serif;
}

.linkSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey);
  padding: 30px;
}

/* Logo and text side */
.logoText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 33px;
  height: 33px;
}

.logoText > h1 {
  color: white;
  font-size: 26px;
}
/* Logo and text side */

/* Page links section*/
.pageLinks > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  color: white;
  font-size: 18px;
}

/* Page links section*/

/* Social Media icons */
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.facebook,
.twitter,
.instagram,
.linkedin {
  width: 30px;
  height: 30px;
  color: white;
}
/* Social Media icons */

.lastSection {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 220px;
}

/* Text Section */
.lastText > h1 {
  color: var(--grey);
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
}

h1 > span {
  color: var(--blue);
}
/* Text Section */
