* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Logo and text side */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4d96ff;
  padding: 10px;
}

.logoText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 33px;
  height: 33px;
}

.logoText > h1 {
  color: white;
  font-size: 26px;
}
/* Logo and text side */

/* Search side */
.searchContainer {
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.searchContainer > input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px 10px;
  font-size: 18px;
  width: 500px;
}

.search {
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
}
/* Search side */

/* Icons side */
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.bars,
.user,
.heart,
.cart {
  width: 25px;
  height: 25px;
  color: white;
}

/* Icons side */
