:root {
  --blue: rgb(0, 132, 255);
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Phone section */
.phoneSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
  margin: 80px;
}

.phoneSection > img {
  height: 400px;
}

.phoneRight > h1 {
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 300;
  color: var(--blue);
  margin-bottom: 15px;
}

.phoneRight > p {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.phoneRight > button {
  padding: 15px 45px;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
/* Phone section */

.secondSection {
  background-color: rgb(224, 221, 221);
}

/* Offer section */
.offerContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.banner {
  position: relative;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.banner > img {
  width: 400px;
  border-radius: 7px;
}

.bannerText {
  position: absolute;
  top: 43%;
  left: 20px;
  transform: rotate(40deg);
}

.bannerText > h2 {
  color: rgb(0, 132, 255);
  font-size: 20px;
  font-weight: 300;
}

.bannerText > p {
  font-size: 26px;
  font-weight: 500;
}
/* Offer section */

/* New Arrivals section */
.arrivalsText {
  text-align: center;
}

.arrivalsText {
  color: #333;
  font-size: 30px;
}

.arrivalsText > span {
  color: var(--blue);
}

.arrivalsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.arrivalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 380px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.arrivalContainer > img {
  width: 150px;
  height: 150px;
  border-radius: 7px;
}

.arrivaltext > h3 {
  width: 99%;
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--grey);
}

.arrivaltext > p {
  color: var(--blue);
  font-size: 20px;
}

.pspan > span {
  color: var(--grey);
  text-decoration: line-through;
  font-size: 16px;
}
/* New Arrivals section */
