:root {
  --blue: rgb(0, 132, 255);
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.eot), url(../fonts/Inter-Regular.ttf),
    url(../fonts/Inter-Regular.woff), url(../fonts/Inter-Regular.woff2);
}

body {
  font-family: Inter, sans-serif;
}

.products {
  background-color: rgb(224, 221, 221);
}
.products_h1 {
  text-align: center;
  padding: 40px;
}

/* Products card */

.allcards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 20px;
  padding-bottom: 5%;
}
.productcard {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 4%;
  width: 400px;
}

.productcard_img > img {
  height: 140px;
}

.productcard_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productcard_text > h2 {
  color: var(--grey);
  font-size: 19px;
}

.productcard_input {
  display: flex;
  gap: 5px;
}

.productcard_input > h3 {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}

.productcard_input > input {
  background-color: rgb(224, 221, 221);
  border: 1px solid rgb(224, 221, 221);
  border-radius: 5px;
  width: 50%;
}

.productcard_text > p {
  color: var(--blue);
  font-size: 20px;
}

.secondP {
  color: var(--grey);
  font-size: 17px;
  text-decoration: line-through;
}
/* Products card */
