:root {
  --blue: rgb(0, 132, 255);
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.eot), url(../fonts/Inter-Regular.ttf),
    url(../fonts/Inter-Regular.woff), url(../fonts/Inter-Regular.woff2);
}

body {
  font-family: Inter, sans-serif;
}

.products {
  background-color: rgb(224, 221, 221);
}
.products_h1 {
  text-align: center;
  padding: 40px;
}
